@model IEnumerable<NET104_Project.Models.Sanpham>

@{
    ViewData["Title"] = "HienthiSanpham";
    var so = ViewData["so"] as List<int>;
    var chu = ViewData["chu"] as string;
    var ids = ViewData["allId"] as List<Guid>;
    var thongbao = ViewData["result"] as string;
    var amount = ViewData["amount"] as string;
}

<h1>HienthiSanpham</h1>

<p>
    <a asp-action="CreateNew">Tạo mới</a>
    <a asp-action="SearchByName">Tìm kiếm</a>

</p>
<form method="get" asp-controller="Home" asp-action="SearchByName2">
    <input name="xxx" type="text" placeholder="Search">
    <button type="submit">Submit</button>
</form>
@if (thongbao != null)
{
    <h3>@thongbao</h3>
}
@if (Model != null)
{
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Ten)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.TrangThai)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Ten)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.TrangThai)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                        <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                        <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
@if (amount != null)
{
    <h3>@amount</h3>
}
